# Classification Challenge

The dataset here comes from a kaggle example on Kickstarter projects.  Your goal is the following:

- Load and explore the data
- Determine strategy for missing variables
- Build classifier to predict `state` column.  
- Compare and visualize the `ROC` curve for three different classifiers:
 - `LogisticRegression`
 - `KNeighborsClassifier`
 - `DecisionTreeClassifier`
 
- What did the `DecisionTreeClassifier` decide were the most important features?  Visualize the top five.
- Visualize a `DecisionTreeClassifier` with depth 3, and describe the results.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ks-projects.csv.zip', encoding='Windows-1252', compression='zip')

/Users/sankokohtet/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

ID                     0
name                   4
category               5
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3790
Unnamed: 13       323125
Unnamed: 14       323738
Unnamed: 15       323746
Unnamed: 16       323749
dtype: int64

In [6]:
df.shape

(323750, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323746 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures

In [9]:
states = pd.get_dummies(df['state '])

In [10]:
states

,0,1,10,100,1010,103,1035,1056,10564,106,...,971,9748,9857.8,9951,canceled,failed,live,successful,suspended,undefined
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323720,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
323721,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323728,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
323733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323734,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
323735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323737,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323738,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323739,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
323740,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323741,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
323743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323744,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
323745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
323746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323748,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
df[df['state '] == 'failed'].shape

(168221, 17)

In [15]:
df[(df['state '] == 'failed') | (df['state '] == 'canceled') | (df['state '] == 'successful')].shape

(313656, 17)

In [16]:
fail = []
for entry in df['state ']:
    if entry == 'successful':
        fail.append(1)
    else:
        fail.append(0)

In [17]:
fail[:10]

[0, 0, 0, 0, 1, 1, 0, 0, 0, 0]

In [19]:
df['success'] = fail

In [20]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,sucess,success
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN,0,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN,0,0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN,0,0
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN,0,0
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN,1,1

In [21]:
df.drop(['sucess'], axis = 1)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,success
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN,0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN,0
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN,0
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN,1
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN,1
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453,NaN,NaN,NaN,NaN,0
7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233,NaN,NaN,NaN,NaN,0
8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,NaN,NaN,NaN,NaN,0
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0,NaN,NaN,NaN,NaN,0
10,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08 06:42:58,12500,2013-03-09 06:42:58,12700,successful,100,US,12700,NaN,NaN,NaN,NaN,1
11,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02 17:11:50,5000,2014-09-02 17:11:50,0,failed,0,US,0,NaN,NaN,NaN,NaN,0
12,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25 22:01:12,200000,2016-02-09 23:01:12,0,failed,0,US,0,NaN,NaN,NaN,NaN,0
13,1000064368,Survival Rings,Design,Design,USD,2015-02-28 02:10:53,2500,2015-01-29 02:10:53,664,failed,11,US,664,NaN,NaN,NaN,NaN,0
14,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08 22:27:52,1500,2014-10-09 22:27:52,395,failed,16,US,395,NaN,NaN,NaN,NaN,0
15,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10 21:20:54,3000,2015-04-10 21:20:54,789,failed,20,US,789,NaN,NaN,NaN,NaN,0
16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17 14:11:32,250,2012-08-02 14:11:32,250,successful,7,US,250,NaN,NaN,NaN,NaN,1
17,1000071625,Boco Tea,Food,Food,USD,2012-06-02 17:24:32,5000,2012-05-03 17:24:32,1781,failed,40,US,1781,NaN,NaN,NaN,NaN,0
18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30 07:06:11,20000,2013-11-25 07:06:11,34268,successful,624,US,34268,NaN,NaN,NaN,NaN,1
19,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15 10:09:03,3500,2014-05-16 10:10:38,650,failed,12,US,650,NaN,NaN,NaN,NaN,0
20,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25 19:17:33,500,2015-01-26 19:17:33,48,failed,3,NO,6.18000816,NaN,NaN,NaN,NaN,0
21,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12 17:15:50,175,2014-10-23 17:15:50,701.66,successful,66,US,701.66,NaN,NaN,NaN,NaN,1
22,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06 23:16:50,10000,2010-12-07 23:16:50,15827,successful,147,US,15827,NaN,NaN,NaN,NaN,1
23,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05 20:09:06,12000,2015-12-06 20:09:06,0,failed,0,GB,0,NaN,NaN,NaN,NaN,0
24,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14 18:02:00,17757,2014-11-14 18:02:00,48905,successful,571,CA,43203.2511447,NaN,NaN,NaN,NaN,1
25,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28 16:59:29,100,2015-12-29 16:59:29,112.38,successful,27,GB,167.7003057894,NaN,NaN,NaN,NaN,1
26,1000115172,Daily Brew Coffee,Food Trucks,Food,GBP,2015-03-31 18:06:32,3500,2015-03-01 18:06:32,21,failed,1,GB,32.41526106,NaN,NaN,NaN,NaN,0
27,1000117861,Ledr workbook: one tough journal!,Product Design,Design,USD,2016-10-08 02:00:00,1000,2016-09-07 13:14:26,47266,successful,549,US,11253,NaN,NaN,NaN,NaN,1
28,1000120151,Feather Cast Furled Fly Fishing Leaders,Product Design,Design,AUD,2015-08-22 03:09:43,2000,2015-07-23 03:09:43,2000,successful,18,AU,1473.6189,NaN,NaN,NaN,NaN,1
29,1000120287,BB130A,Public Art,Art,USD,2013-03-24 00:07:28,25000,2013-02-12 01:07:28,1395,failed,30,US,1395,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323720,999810803,The Finger (Canceled),Documentary,Film & Video,USD,2010-12-31 21:41:15,28559,2010-12-01 21:41:15,50,canceled,1,US,50,NaN,NaN,NaN,NaN,0
323721,999811847,"""100 PHOTOGRAPHS FOR OUR LIBERTIES""",Fine Art,Photography,EUR,2015-12-10 22:06:44,5000,2015-11-25 22:06:44,1574,failed,37,FR,1673.7131361,NaN,NaN,NaN,NaN,0
323722,999814955,Collinwood Needs Coffee!!!,Restaurants,Food,USD,2014-07-28 13:28:12,12000,2014-06-28 13:28:12,2090,failed,42,US,2090,NaN,NaN,NaN,NaN,0
323723,999829547,PookieCat rune cards - funny oracle cards for ...,Illustration,Art,EUR,2016-06-07 09:33:08,1500,2016-05-08 09:33:08,1699,successful,39,NL,1937.69716526,NaN,NaN,NaN,NaN,1
323724,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03 19:53:50,10000,2014-09-03 19:53:50,13861.5,successful,413,US,13861.5,NaN,NaN,NaN,NaN,1
323725,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05 06:00:00,12000,2014-05-06 23:50:34,0,failed,0,US,0,NaN,NaN,NaN,NaN,0
323726,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13 04:00:00,25000,2014-11-13 17:16:17,11643,failed,97,US,11643,NaN,NaN,NaN,NaN,0
323727,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08 02:43:59,4000,2010-11-08 02:43:59,3531,failed,37,US,3531,NaN,NaN,NaN,NaN,0
323728,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24 22:37:14,800,2015-08-25 22:37:14,70,failed,5,US,70,NaN,NaN,NaN,NaN,0
323729,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17 17:50:12,5000,2014-11-17 17:50:12,5435,successful,78,CA,4814.8774787,NaN,NaN,NaN,NaN,1
323730,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15 02:10:39,5000,2014-07-15 02:10:39,18,failed,5,US,18,NaN,NaN,NaN,NaN,0
323731,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03 13:04:14,5000,2015-11-03 13:04:14,5579,successful,103,US,5579,NaN,NaN,NaN,NaN,1
323732,999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11 21:33:00,1000,2014-08-08 21:49:31,100,canceled,2,US,100,NaN,NaN,NaN,NaN,0
323733,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04 18:00:47,80000,2015-07-06 18:00:47,0,failed,0,CH,0,NaN,NaN,NaN,NaN,0
323734,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26 20:22:45,6500,2014-05-05 20:22:45,0,canceled,0,US,0,NaN,NaN,NaN,NaN,0
323735,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15 06:59:00,3500,2015-11-23 07:33:14,6169,successful,120,US,6169,NaN,NaN,NaN,NaN,1
323736,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10 22:45:26,16000,2013-09-10 22:45:26,2738,failed,38,GB,4281.1485734,NaN,NaN,NaN,NaN,0
323737,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30 19:03:00,950,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,NaN,NaN,NaN,NaN,1
323738,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14 17:11:00,4999,2012-08-15 17:11:00,980,failed,16,US,980,NaN,NaN,NaN,NaN,0
323739,999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23 16:03:27,500,2016-01-24 16:03:27,121,canceled,5,US,121,NaN,NaN,NaN,NaN,0
323740,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05 05:59:00,6000,2016-07-29 15:36:29,0,failed,0,US,0,NaN,NaN,NaN,NaN,0
323741,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22 00:00:16,5000,2014-02-20 01:00:16,5501,successful,78,CA,5019.92088197,NaN,NaN,NaN,NaN,1
323742,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28 21:30:33,20000,2015-03-29 21:30:33,21500,successful,36,NO,2698.974335,NaN,NaN,NaN,NaN,1
323743,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16 03:31:10,1700,2012-02-15 04:31:10,25,failed,1,US,25,NaN,NaN,NaN,NaN,0
323744,999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20 03:46:07,5500,2014-08-06 03:46:07,0,canceled,0,CA,0,NaN,NaN,NaN,NaN,0
323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17 02:35:30,50000,2014-09-17 02:35:30,25,canceled,1,US,25,NaN,NaN,NaN,NaN,0
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:14,1500,2011-06-22 03:35:14,155,failed,5,US,155,NaN,NaN,NaN,NaN,0
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000,2010-07-01 19:40:30,20,failed,1,US,20,NaN,NaN,NaN,NaN,0
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000,2016-01-13 18:13:53,200,failed,6,US,200,NaN,NaN,NaN,NaN,0
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524,NaN,NaN,NaN,NaN,0

In [33]:
df['usd pledged '].value_counts()

0                 50462
1                  5041
25                 3122
10                 3111
50                 2673
5                  2315
100                2249
20                 2010
30                 1462
2                  1399
15                 1119
35                 1010
40                 1007
60                 1006
75                  943
150                 911
200                 838
125                 795
11                  692
55                  674
70                  671
110                 656
26                  652
6                   628
45                  613
80                  610
120                 566
51                  557
500                 553
250                 553
                  ...
63830                 1
6644.5304776          1
784.02757425          1
39413.2200979         1
17.50207476           1
9277.55               1
4.97547093            1
22856.7670428         1
16.72334025           1
30343.24393879        1
34424.14              1
116.2607229           1
8.929568              1
14864.99              1
58572                 1
5694.12897666         1
79067.43416364        1
384201.63             1
10563                 1
7059.68560254         1
13568.25              1
413.1054118           1
4516.11               1
27031                 1
4.81142144            1
1017.95484145         1
4060.77               1
45795                 1
21298.12              1
2324.1076432          1
Name: usd pledged , Length: 94376, dtype: int64

In [23]:
X = df['usd pledged ']
y = df.success

In [26]:
X_train, y_train, X_test, y_test = train_test_split(X, y)

In [27]:
clf = LogisticRegression()

In [28]:
clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'US'

----------------------

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
cats = pd.get_dummies(df['main_category '])

In [12]:
tfidf = TfidfVectorizer(stop_words='english', ngram_range=(1,4), min_df=5)
tfs = tfidf.fit_transform(df['name '].dropna())

In [13]:
tfs_array = tfs.toarray()
df_2= pd.DataFrame(tfs_array, columns=tfidf.get_feature_names())

In [14]:
df_2.head()

,00,000,000 000,000 feet,000 mile,000 miles,000 people,000 words,000 years,001,...,zu,zucati,zucati dice,zulu,zum,zur,lbum,a,tre,ber
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
states.shape

(323750, 410)

In [16]:
cats.shape

(323750, 120)

In [17]:
df_2.shape

(323746, 37089)

In [ ]:
df_combo = pd.concat([cats, df_2], axis = 1)

In [ ]:
X = df_combo
y =